%script#howmany_html(type="x-template")
    %h3 Visits

    %chart(label="Daily Visits" type="linechart" :values="visits.timeline")
    %chart.half(label="Length [Number of Clicks]" type="barchart" :values="visits.views")
    %chart.half(label="Length [Time]" type="barchart" :values="visits.durations")
    %valuetable(:definition="visits.entryurls.definition" :values="visits.entryurls.values")
    %valuetable(:definition="visits.exiturls.definition" :values="visits.exiturls.values")


    .details(v-if="route")
        .title(v-if="route.view") Details for view <span class="url">{{ route.view }}</span>
        .title(v-if="route.referer") Details for referrer <span class="url">{{ route.referer }}</span>
        %a.clickable(v-on:click="route = null") Show all


    %h3 Views

    %chart(label="Daily Views" type="linechart" :values="views.timeline")
    %valuetable(:definition="views.definition" :values="views.values")


    %h3 Referrers

    %chart.half(label="External Referrers" type="piechart" :values="referrers.external.values")
    %chart.half(label="Internal Referrers" type="piechart" :values="referrers.internal.values")
    %valuetable(:definition="referrers.external.definition" :values="referrers.external.values")
    %valuetable(:definition="referrers.internal.definition" :values="referrers.internal.values")


    %h3 User Agents

    %chart.half(label="Platforms" type="piechart" :values="platforms.values")
    %chart.half(label="User Agents" type="piechart" :values="useragents.values")
    %valuetable(:definition="platforms.definition" :values="platforms.values")
    %valuetable(:definition="useragents.definition" :values="useragents.values")



%script#valuetable_html(type="x-template")
    .valuetable
        %table
            %thead
                %tr
                    %th(v-for="column in definition") {{ column.label }}
            %tbody
                %tr(v-for="row in visible_values")
                    %td(v-for="column in definition" :class="column.class_" v-on:click="click(column.click, row)") {{ render(column.value, row) }}
            %tbody(v-show="show_hidden")
                %tr(v-for="row in hidden_values")
                    %td(v-for="column in definition" :class="column.class_" v-on:click="click(column.click, row)") {{ render(column.value, row) }}
        %a.clickable{"v-if"=>"hidden_values.length", "@click"=>"show_hidden = !show_hidden"}
            %span(v-if="!show_hidden") Alle anzeigen
            %span(v-if="show_hidden") Untere ausblenden



%script#chart_html(type="x-template")
    .chart
        %h4 {{ label }}
        %canvas
