%script#howmany_html(type="x-template")
    .details(v-if="route")
        %p(v-if="route.view") Details for view: "{{ route.view }}"
        %p(v-if="route.referer") Details for referrer: "{{ route.referer }}"
        %a.clickable(v-on:click="route = null") Back to Overview

    %h3 Views

    %chart(label="View History" type="timeline" :values="views.timeline")
    %valuetable(:definition="views.definition" :values="views.values")


    %h3 Referrers

    %chart.half(label="External Referrers" type="piechart" :values="referrers.external.values")
    %chart.half(label="Internal Referrers" type="piechart" :values="referrers.internal.values")
    %valuetable(:definition="referrers.external.definition" :values="referrers.external.values")
    %valuetable(:definition="referrers.internal.definition" :values="referrers.internal.values")


    %h3 User Agents

    %chart(label="User Agents" type="piechart" :values="useragents.values")
    %valuetable(:definition="useragents.definition" :values="useragents.values")



%script#valuetable_html(type="x-template")
    %table.valuetable
        %thead
            %tr
                %th(v-for="column in definition") {{ column.label }}
        %tbody
            %tr(v-for="row in visible_values")
                %td(v-for="column in definition" :class="column.class_" v-on:click="click(column.click, row)") {{ render(column.value, row) }}
        %tbody(v-show="show_hidden")
            %tr(v-for="row in hidden_values")
                %td(v-for="column in definition" :class="column.class_" v-on:click="click(column.click, row)") {{ render(column.value, row) }}
    %a.clickable{"v-if"=>"hidden_values.length", "@click"=>"show_hidden = !show_hidden"}
        %span(v-if="!show_hidden") Alle anzeigen
        %span(v-if="show_hidden") Untere ausblenden



%script#chart_html(type="x-template")
    .chart
        %h4 {{ label }}
        %canvas
