.valuetable
    table
        thead
            tr
                th(v-for="column in definition") {{ column.label }}
        tbody
            tr(v-for="row in visible_values")
                td(v-for="column in definition" :class="column.class_" v-on:click="click(column.click, row)") {{ render(column.value, row) }}
        tbody(v-show="show_hidden")
            tr(v-for="row in hidden_values")
                td(v-for="column in definition" :class="column.class_" v-on:click="click(column.click, row)") {{ render(column.value, row) }}
    a.clickable(v-if="hidden_values.length" @click="show_hidden = !show_hidden")
        span(v-if="!show_hidden") Show all
        span(v-if="show_hidden") Show less
