.timeseries
    h4 {{ measurement.title }}
    button.toggle(v-if="false"
                  v-for="r in resolutions"
                  type="button"
                  :class="{active: resolution == r.key}"
                  @click="resolution = r.key") {{r.title}}
    chart(v-if="data"
          type="barchart"
          :values="data")
