.measurement(:class="config.container_class")
    h3 {{ measurement.title }} #[span(v-if="filtervalue") für #[code {{filtervalue}}]]#[br]#[small.dim.normal {{ timespan }}]

    .actions.flexrow
        timeselector(v-model="scale")
        button(type="button"
               title="Ansicht aktualisieren"
               @click="load_data(true)"
               :disabled="is_loading") #[span.dashicons.dashicons-update(:class="{spin: is_loading}")]


    chart(v-if="chart_data && config.is_chart_visible"
          :type="config.chart_type"
          :values="chart_data"
          :is_updating="is_loading")

    valuetable(v-if="chart_data && config.is_valuelist_visible"
               :values="chart_data"
               :label="'Bezeichnung'")
