.piechart
    h3 {{ measurement.title }} #[span.dim.normal ({{ timespan }})]

    timeselector(v-model="scale")

    chart(v-if="data"
          type="piechart"
          :values="data")

    valuetable(:values="data"
               :label="'Bezeichnung'")
