.timeseries
    h3 {{ measurement.title }}
    button.toggle(v-for="r in resolutions"
                  type="button"
                  :class="{active: resolution == r.key}"
                  @click="resolution = r.key") {{r.title}}
    chart(v-if="data"
          type="linechart"
          :values="data")
