.timeselector.flexrow
    .timescale
        button.toggle(v-for="t in timescales"
                      type="button"
                      :class="{active: is_selected_timescale(t.key)}"
                      @click="select_timescale(t.key)") {{t.title}}

    .page
        button(type="button"
               title="Zurück blättern"
               @click="go_back") #[span.dashicons.dashicons-arrow-left-alt2]
        button(type="button"
               :disabled="is_start"
               title="Vorwärts blättern"
               @click="go_forward") #[span.dashicons.dashicons-arrow-right-alt2]
        button(type="button"
               :disabled="is_start"
               title="Ans Ende blättern"
               @click="reset_page") #[span.dashicons.dashicons-controls-forward]
