.timeseries
    h3 {{ measurement.title }}

    button.toggle(v-for="t in timescales"
                  type="button"
                  :class="{active: timescale == t.key}"
                  @click="timescale = t.key") {{t.title}}

    chart(v-if="data"
          type="linechart"
          :values="data")
