.valuetable
    table
        thead
            tr
                th #
                th %
                th Anzahl
                th Bezeichnung
        tbody
            tr(v-for="row, index in limited")
                td {{index+1}}
                td {{round(row.rel*100)}}%
                td {{row.value}}
                td {{row.label}}

    button(v-if="is_expandable"
           type="button"
           @click="is_expanded=!is_expanded") {{is_expanded ? 'Liste verkürzen' : 'Liste erweitern'}}