.small {
    font-size: 80%;
    opacity: 0.7;
}

.dim {
    opacity: 0.4;
}

.clickable {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
}

.normal {
    font-weight: normal;
}

.dashicons {
    line-height: inherit;
    width: auto;
    height: auto;
    font-size: inherit;
    color: $blue;
}

.chartgrid {
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .wide {
        grid-column-end: span 2;
    }
}

.flexrow {
    display: flex;
    gap: 1em;
}

