h1 {
}

button {
    margin: 0.2em;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    cursor: pointer;
    font: inherit;
    border: 1px solid currentColor;

    &:not(.button-primary):not(.button-secondary) {
        color: $blue;
        background: #ddd;
    }

    &[disabled] {
        opacity: 0.3;
        cursor: default;
    }

    &.toggle {
        border: 1px solid $blue;
        color: mix(black, $blue, 20%);
        transition: background 0.1s;
        cursor: pointer;
        background: none;

        &:hover {
            background: rgba(white, 0.7);
        }

        &.active {
            background: $blue;
            color: white;

            &:hover {
                background: mix(white, $blue, 20%);
            }
        }
    }
}