$blue: #5391C8;

#howmany {
    @import "elements";
    @import "custom";

    max-width: 1000px;
    box-sizing: border-box;
    font-size: 110%;
    line-height: 1.35;

    * {
        box-sizing: inherit;
    }

    .details {
        margin: 2em 0;

        .title {
            font-size: 125%;
            font-weight: bold;
            color: black;
            margin: 0.25em 0;

            .url {
                color: $blue;
            }
        }
    }

    h3 {
        margin: 2em 0 1em 0;
    }

    h4 {
        margin: 0 0 1em 0;
        font-size: 100%;
        font-weight: normal;
        text-align: center;
    }

    .chart,
    .valuetable {
        margin: 1em 0 2em;

        &.half {
            width: 49%;
            float: left;
        }

        &.quarter {
            width: 24%;
            float: left;
        }
    }

    .chart {
        .chartcontainer {
            height:220px;

            canvas {
                width: 100%;
                height: 100%;
            }
        }
    }

    .valuetable,
    .listtable {
        clear: both;

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 90%;
        }

        tr {
            th, td {
                text-align: left;
                padding: 4px 0 4px 10px;
            }

            th {
                background: $blue;
                color: white;
            }

            td {
                border-top: 1px solid #ffffff;
            }

            &:nth-child(even) {
                td {
                    background-color: #E8E8E8;
                }
            }
        }
    }
}